
html {
    background-color: #efefef;
}


#main {
    margin: auto;
    text-align: center;
}


#title {
    margin: 0;
    padding: 0;
    color: #dae5cc;
    font-size: 100px;
}


.completed {
    text-decoration: line-through;
}



#list-div {
    margin-bottom: 50px;
    margin-top: 50px;
}



.item-div {
    margin: auto;
    margin-top: 10px;
    width: 25%;
    height: 50px;
    border: 2px solid #737373
}

.done-button-div {
    display: inline-block;
    width: 10%;
    height: 50px;
    background-color: red;
}


.done-button {
    margin: auto;
    background: url('../res/approve-circular-button.svg');
    width: 20px;
    height: 10px;
}


.close-button-div {
    display: inline-block;
    background-color: red;
    color: red;
    height: 50px;
}


.close-button {
    margin: auto;
}


#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.task-content-div {
    display: inline-block;
    width: 80%;
}


.task-content {
    color: #0066ff;
    font-size: 18px;
    text-align: center;
}





