
html {
    background-color: #efefef;
    width: 960px;
    margin: auto;
}


#main {
    margin: auto;
    text-align: center;
}


#title {
    margin: 0;
    padding: 0;
    color: #dae5cc;
    font-size: 100px;
}


.completed {
    background-color: #c9c9c9;
}


#list-div {
    margin-bottom: 50px;

}


#filter-bar {
    margin-top: 20px;
    margin-bottom: 0px;
}


.filter-button {
    display: inline-block;
    margin: 10px;
    border: none;
    color: black;
    background-color: #efefef;
}


.selected-filter-button {
    color: #999999;
}


.item-div {
    margin: auto;
    margin-top: 10px;
    width: 540px;
    margin-left: 200px;
    margin-right: 220px;
    min-height: 50px;
    border: 2px solid #737373;
    border-radius: 10px;
}

.done-button-div {
    display: inline-block;
    width: 10%;
    height: 50px;
}


.done-button {
   background-color: #efefef;
   border: 1px solid #999999;
   border-radius: 50%;
   padding: 10px 10px;
   text-decoration: none;
   -webkit-transition-duration: 0.6s;
   transition-duration: 0.6s;
   cursor: pointer;
   margin-top: 15px;
}

.done-button:hover {
    background-color: #2cf76c;
}


.close-button-div {
    display: inline-block;
    width: 10%;
    height: 50px;
}


.close-button {
    background-color: #efefef;
    border: 1px solid #999999;
    border-radius: 50%;
    padding: 10px 10px;
    text-decoration: none;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    cursor: pointer;
    margin-top: 15px;
}


.close-button:hover {
    background-color: #e26f6f;
}


#list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.task-content-div {
    display: inline-block;
    width: 80%;
}


.task-content {
    color: #595959;
    font-size: 18px;
    text-align: center;
    margin: auto;
}



#input-field {
    width: 50%;
    padding: 12px 20px;
    border: 1px solid #737373;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


#submit-button {
    background-color: #dae5cc;
    color: #737373;
    padding: 12px 12px;
    border: none;
    border-radius: 5px;
}


#submit-button:hover {
    background-color: #ccddb5;
}


#disabled-submit-button {
    background-color: #e5e5e5;
    color: #737373;
    padding: 12px 12px;
    border: none;
    border-radius: 5px;
}


